black~=22.0
flake8>=3.7.9, <4.0
ipython>=7.31.1, <8.0
isort~=5.0
jupyter~=1.0
jupyterlab~=3.0
kedro[pandas.CSVDataSet]==0.18.1
kedro-telemetry~=0.2.0
nbstripout~=0.4
pytest-cov==3.0.0
pytest-mock==1.13.0
pytest==6.2.5
kedro-viz
geohash2==1.1
matplotlib==3.5.3
seaborn==0.11.2
import-ipynb==0.1.4
influxdb-client==1.32.0
